.container {
  margin: auto;
  border: 3px solid green;
  padding: 2rem;
  width: 20rem;
}

.detialContainer {
  border: 3px solid green;
  padding: 2rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.content {
  flex: 1;
}

@media (min-width: 600px) {
  .container {
    width: 30rem;
  }

  .contentContainer {
    flex-direction: row;
  }
}
